<% include partials/head %>

  <section id="detailpage">
    <div class="detail-header">
      <img class="avatar" src="<%= person.avatar %>" alt="<%= person.first_name%>'s Avatar">
      <h1><%= person.first_name + " " + person.last_name %></h1>
    </div>
    <hr>
    <div class="contact-info">
      <h4>Telefoonnummer:</h4>
      <p><a href="tel:<%= person.phone %>"><%= person.phone %></a></p>
      <hr>
      <h4>Email:</h4>
      <p><a href="mailto:<%= person.email %>"><%= person.email %></a></p>
      <hr>
    </div>
    <a class="back-btn" href="/">< Terug</a>
  </section>

<% include partials/footer %>
