<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <noscript>
      <meta id="refresh-meta" http-equiv="refresh" content="2">
    </noscript>
    <title>PollBuddy</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>

<body>
<h1>Poll Resultaten</h1>
<main>
  <% if (results && pollData) { %>
    <section class="block-container">
      <section>
        <h3>URL naar deze poll:</h3>
        <a class="pollURL" href="<%= pollData.pollURL %>" target="_blank"><%= pollData.pollURL %></a>
        <h2 class="question">Vraag: <%= pollData.pollQuestion %></h2>
      </section>

      <section class="results">
        <h3>Respons:</h3>

        <% for (var key in results.answerCounter) { %>
          <section class="answer">
           <h3 id="answer<%=key%>-value" data-answer="<%= pollData.pollAnswers[key].name %>"><%= pollData.pollAnswers[key].name %></h3>
           <span id="results<%=key%>"><%= results.answerCounter[key].answerCount %></span>
         </section>
        <% } %>

        <canvas id="resultsChart" width="400" height="250"></canvas>
      </section>
    <% } else { %>
      <p>Oops, no data :(</p>
    <% } %>
  </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script type="text/javascript" src="/js/results.js"></script>


<% include partials/footer %>
